.leftside, .rightside{
    height: 100vh;
    width:100%;
}


.leftside{
    max-width:400px;
    
}

.rightside{
    background: url("src/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.btn9{
    width:150px;
    height:40px;
    margin:0px auto;
    background-color: #fff;
    border: 1px solid rgb(19, 86, 150);
    
}



.btn1{
    width:130px;
    height:40px;
    background-color: #fff;
    border: 1px solid rgb(19, 86, 150);
    
}

.btn2{
    width:130px;
    height:40px;
    background-color: #fff;
    border: 1px solid rgb(19, 86, 150);
    
}

.btnlogin{
    padding-bottom:20px;
    
}


.btnbn{
    width: 100%;
}

.link1{
    text-decoration: none;
}


.welcomeform{
    width: 300px;
}


.text5{
    padding-top: 10px;
    color: rgb(27, 132, 218);
}

.pataone{
    background-color:#F1F2F5;
}